#for desktop
opencv-python
matplotlib
numpy
mediapipe 
tensorflow
keras
#additional for web application
flask
pyshine
sounddevice
soundfile
eventlet
python-socketio==4.6.0
python-engineio==3.13.2
Flask-SocketIO==4.3.1